<br>
<div class="row alphabet-filter">
    <div class="col-12">
        {% for letter in alphabet_en|split %}
        <a class="button {% if letter == cur_letter %}primary{% endif %}" href="{{url_prefix}}/{{letter|urlencode}}/">{{letter}}</a>
        {% endfor %}
    </div>
    <div class="col-12">
        {% for letter in alphabet_ru|split %}
        <a class="button {% if letter == cur_letter %}primary{% endif %}" href="{{url_prefix}}/{{letter|urlencode}}/">{{letter}}</a>
        {% endfor %}
    </div>
</div>