{% macro bookTags(title, values, tag) %}
    {% for value in values %}
        {% if value|trimspace %}
            {% if tag %} 
            <a class="button" title="{{title}}" href="/books/{{tag}}/{{value|striptags|split:"("|first|trimspace|urlencode}}/">{{value}}</a>
            {% else %}
            <a class="button" title="{{title}}" href="?q={{value|striptags|split:"("|first|trimspace|urlencode}}">{{value}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro bookTag(title, value, tag) %}
    {% if value|trimspace %}
        {% if tag %} 
        <a class="button" title="{{title}}" href="/books/{{tag}}/{{value|striptags|split:"("|first|trimspace|urlencode}}/">{{value}}</a>
        {% else %}
        <a class="button" title="{{title}}" href="?q={{value|striptags|split:"("|first|trimspace|urlencode}}">{{value}}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% if pager.GetTotal() > pager.GetPageSize() %}
<div class="row books-detailed-head">
    <div class="col-10 col-8-xsmall books-detailed-head-title">
        {% if pager.HasNext() %}
        <h4>Книги {{pager.GetOffset()+1}}-{{pager.GetOffset()+pager.GetPageSize()}} из {{pager.GetTotal()}}</h4>
        {% else %}
        <h4>Книги {{pager.GetOffset()+1}}-{{pager.GetTotal()}} из {{pager.GetTotal()}}</h4>
        {% endif %}
    </div>
    <div class="col-2 col-4-xsmall books-detailed-head-size">
        <select id="demo-category" onchange="if (this.value) window.location.href=this.value">
            {% for size in books_sizes|split:"," %}
            <option value="{{pager.GetLink(1,size|integer)}}"{% if pager.GetPageSize() == size|integer %} selected{%endif%}>{{size}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}

<div class="row books-detailed">
    {% if books %}
    {% for book in books %}
    <div class="col-6 col-12-xsmall books-detailed-item">
        <h4 class="col-12-xsmall"><a href="/book/{{book.ID}}">
            {% if pager %}{{pager.GetOffset()+forloop.Counter}}. {% endif %}{{book.Info.Title|safe}}</a>
        </h4>
        <a href="/book/{{book.ID}}">
            {% if book.Info.Cover %}
            <img src="data:{{book.Info.Cover.Type}};base64,{{book.Info.Cover.Data}}"/>
            {% else %}
            <img src="/assets/images/noimg.png"/>
            {% endif %}
        </a>

        <a href="/download/{{book.ID}}.fb2" class="button primary"><span class="fa fa-download"></span>&nbsp;.fb2 ({{book.Size|filesize}})</a>
        <a href="/download/{{book.ID}}.epub" class="button primary"><span class="fa fa-download"></span>&nbsp;.epub</a>
        {{ bookTag("Коллекция", book.Lib, "lib") }}
        {% for publ in book.PublInfo %}{{ bookTag("ISBN", publ.ISBN) }}{% endfor %}
        {{ bookTag("Дата", book.Info.Date) }}
        {{ bookTag("Язык", book.Info.Lang, "lng") }}
        {{ bookTags("Жанр", book.Info.Genres, "genre") }}
        {{ bookTags("Автор", book.Info.Authors) }}
        {{ bookTags("Переводчик", book.Info.Translators) }}        
        {% for publ in book.PublInfo %}{{ bookTag("Издательство", publ.Publisher, "publ") }}{% endfor %}        
        {{ bookTags("Серия", book.Info.Sequences, "seq") }}
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12"><span>Книги не найдены</span></div>
    {% endif %}
</div>