{% if books %}
<hr>
<h3>{{block_title}}</h3>
<div class="row books-simple">
    {% for item in books %}
    <div class="col-{{columns_cnt}} col-12-xsmall books-simple-item">
        {% if item.Details.Images %}
        {% with img=item.Details.Images|first %}<a href="/book/{{item.Index.ID}}"><img src="data:{{img.Type}};base64,{{img.Data}}"/></a>{% endwith %}
        {% else %}
        <a href="/book/{{item.Index.ID}}"><img src="/assets/images/noimg.png"/></a>
        {% endif %}
        <h4><a href="/book/{{item.Index.ID}}">{{item.Index.Title|split:"; "|first}}</a></h4>        
    </div>
    {% endfor %}
</div>
{% endif %}