#sidebar {
    width: 15em;
}

#sidebar.inactive {
    margin-left: -15em;
}

#sidebar > .inner {
    width: 15em;
}

#sidebar .toggle {
    left: 15em;
}

.search-items .item {
    overflow: hidden;
    min-height:300px;
    margin-bottom: 25px;
}

.search-items .item img {
    float: left;
    max-height:300px;
    margin: 0 10px 10px 0;
}

.search-items .item .button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.search-items .item mark {
    background-color: #fdff74;
}

.search-result .pagination {
    text-align: center;
}

.book-details {
    padding-top: 25px !important;
}

.book-details .book-tags .button {
    margin-bottom: 10px;
}

.books-simple .books-simple-item {
    text-align: center;
}

.books-simple .books-simple-item img {
    max-height: 200px;
}

.book-details .book-controls {
    text-align: center;
}

.book-details .book-tags .button,
.book-details .book-controls .button,
.series-simple .button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.series-simple {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .search-items .item h4 {
        clear: both;
    }

    
}