<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block meta_title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link type="image/png" sizes="16x16" rel="icon" href="/assets/images/icons8-book-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/assets/images/icons8-book-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/assets/images/icons8-book-96.png">
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
      <section id="header">
        <div class="container">
          <nav id="nav">
            <ul>
              <li><a class="icon solid fa-home" href="/"><span>Главная</span></a></li>
              <li><a class="icon solid fa-users" href="#"><span>Авторы</span></a></li>
              <li><a class="icon solid fa-book" href="#"><span>Серии</span></a></li>
              <li><a class="icon solid fa-theater-masks" href="#"><span>Жанры</span></a></li>
            </ul>
          </nav>
          <h1 id="logo">{{h1}}</h1>
          <div class="col-12" style="margin-top: 50px;">
            <form method="get" action="{{search_action}}">
              <div class="row gtr-50">
                <div class="col-12">
                  <input name="q" placeholder="{{search_placeholder}}" type="text" value="{{search_query}}" />  
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      {% block content %}{% endblock %}
		</div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
	</body>
</html>