#intro {
    min-height: 10vh;
    padding-top: 4rem;
}

.pagination .page.first, 
.pagination .page.last {
    width: 100px;
}

.book-list-item mark {
    background-color: #ffff3a;
    color: black;
}

.button.small {
    font-size: 0.9rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
}

@media screen and (max-width: 736px) {
    #main > * {
        padding: 2rem 2rem 1rem 2rem;
    }
}
