{% extends "layout.html" %}

{% block content %}
<section>
    <div class="row">
        <div class="col-10 col-12-xsmall">
            <h4>Книги {{pager.GetOffset()+1}}-{{pager.GetOffset()+pager.GetPageSize()}} из {{pager.GetTotal()}}</h4>
        </div>
        <div class="col-2 col-12-xsmall">
            <select id="demo-category" onchange="if (this.value) window.location.href=this.value" style="text-align: center;">
                <option value="{{pager.GetLink(1,20)}}"{% if pager.GetPageSize() == 20 %} selected{%endif%}>20</option>
                <option value="{{pager.GetLink(1,60)}}"{% if pager.GetPageSize() == 60 %} selected{%endif%}>60</option>
                <option value="{{pager.GetLink(1,180)}}"{% if pager.GetPageSize() == 180 %} selected{%endif%}>180</option>
            </select>
        </div>
    </div>
    {% for item in books %}
    <article class="book-list-item">
        <header>
            <h4><a href="?q={{item.Titles|safe|striptags}}">{{pager.GetOffset()+forloop.Counter}}. {{item.Titles|safe}}</a></h4>
        </header>
        <p style="text-align: left;">
        {% if item.ISBN %}<a class="button small" href="?q={{item.ISBN|safe|striptags}}">ISBN: {{item.ISBN|safe}}</a>{% endif %}
        {% if item.Authors %}<a class="button small" href="?q={{item.Authors|safe|striptags}}">Авторы: {{item.Authors|safe}}</a>{% endif %}
        {% if item.Sequences %}<a class="button small" href="?q={{item.Sequences|safe|striptags}}">Серия: {{item.Sequences|safe}}</a>{% endif %}
        {% if item.Date %}<a class="button small" href="?q={{item.Date|safe|striptags}}">Дата: {{item.Date}}</a>{% endif %}
        {% if item.Publisher %}<a class="button small" href="?q={{item.Publisher|safe|striptags}}">Издатель: {{item.Publisher|safe}}</a>{% endif %}
        {% if item.Genres %}<a class="button small" href="?q={{item.Genres|safe|striptags}}">Жанр: {{item.Genres|safe}}</a>{% endif %}
        <a href="/download/{{item.ID}}/fb2" class="button primary small"><span class="fa fa-download"></span>&nbsp;.fb2 ({{item.SizeUncompressed|filesize}})</a>
        <a href="/download/{{item.ID}}/epub" class="button primary small"><span class="fa fa-download"></span>&nbsp;.epub</a>
        </p>
    </article>
    {% endfor %}
</section>
{% if pager && pager.HasPages() %}
<footer>
    <div class="pagination">
        {%if pager.HasPrev() %}
        <a href="{{pager.GetLinkFirst()}}" class="page first">Начало</a>
        <a href="{{pager.GetLinkPrev()}}" class="previous">Назад</a>
        {% endif %}
        {% for page in pager.GetPages()%}
            {%if pager.IsCurPage(page) %}
            <span class="page active">{{page}}</span>
            {% else %}
            <a href="{{pager.GetLink(page,0)}}" class="page">{{page}}</a>
            {% endif %}
        {% endfor %}
        {%if pager.HasNext() %}
        <a href="{{pager.GetLinkNext()}}" class="next">Вперед</a>
        <a href="{{pager.GetLinkLast()}}" class="page last">Конец</a>
        {% endif %}
    </div>
</footer>
{%endif%}
{% endblock %}
