/* .books-list-item a {
    color: white;
} */

.books-list-item .book-cover {
    float: left;
    margin: 0 10px 20px 0;
    overflow: hidden;
}

.books-list-item .book-cover img {
    max-height: 300px;
}

.books-list-item .btn {
    margin-bottom: 5px;
}

.pagination-block ul {
    margin-bottom: 0;
}

.page-book-info-descr img {
    float: left;
    margin: 0 15px 20px 0;
    max-width: 100%;
}

.page-book-controls > div {
    text-align: center;
}

.page-book-controls .btn {
    min-width: 140px;
}

.page-book-tags {
    margin-top:15px;
}

.page-book-tags .page-book-tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.block-books-list-simple-item {
    text-align: center;
}

.block-books-list-simple-item img {
    max-height: 300px;
}

.block-series-list-simple .btn,
.block-authors-list-simple .btn,
.block-genres-list .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.block-alphabet .card {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .books-list-item .book-cover {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    
    .books-list-item .book-cover img {
        max-width: 100%;
    }

    .pagination-block .paginate_button.first,
    .pagination-block .paginate_button.previous,
    .pagination-block .paginate_button.next,
    .pagination-block .paginate_button.last {
        display: inline;
    }
  
    .pagination-block li.paginate_button {
        display: none;
    }

    .page-book-controls .btn {
        width: 80%;
        margin-bottom: 10px;
    }
}