<!DOCTYPE HTML>
<html>
	<head>
    <title>{{page_title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="image/png" sizes="16x16" rel="icon" href="/assets/images/icons8-book-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/assets/images/icons8-book-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/assets/images/icons8-book-96.png">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body class="is-preload">
    <div id="wrapper">
        <div id="main">
          <div class="inner">
              <header id="header"><a href="/" class="logo">{{page_h1}}</a></header>
              {% block content %}{% endblock %}
          </div>
        </div>
        <div id="sidebar">
          <div class="inner">
            {% if section_name != "books" %}
              <section id="search" class="alt"><form method="get" action="/books/"><input type="text" name="q"/></form></section>
              {% endif %}
              <nav id="menu" class="sidebar-menu">
                <header class="major"><h2>Разделы:</h2></header>
                <ul>
                  <li><a href="/books/"{% if section_name == "books" %} class="active"{% endif %}>Книги ({{sidebar_stats.books}})</a></li>
                  <li><a href="/genres/"{% if section_name == "genres" %} class="active"{% endif %}>Жанры ({{sidebar_stats.genres}})</a></li>
                  <li><a href="/authors/"{% if section_name == "authors" %} class="active"{% endif %}>Авторы ({{sidebar_stats.authors}})</a></li>
                  <li><a href="/series/"{% if section_name == "series" %} class="active"{% endif %}>Серии ({{sidebar_stats.series}})</a></li>
                </ul>
              </nav>
          </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/script.js"></script>
	</body>
</html>