<!DOCTYPE HTML>
<html>
	<head>
    <title>{{gtitle}} {{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link type="image/png" sizes="16x16" rel="icon" href="/assets/images/icons8-book-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/assets/images/icons8-book-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/assets/images/icons8-book-96.png">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body class="is-preload">
    <div id="wrapper">
        <div id="main">
          <div class="inner">
              <header id="header">
                <a href="/" class="logo"><strong>{{gtitle}}</strong></a>{{title}}
              </header>
              <br>
              {% if search_type != "all" %}
              <form method="get" action="{{search_form_action}}">
                <div class="row gtr-uniform">
                  <div class="col-10 col-12-xsmall">
                    <input type="text" name="q" placeholder="{{search_placeholder}}" value="{{search_query}}">
                  </div>
                  <div class="col-2 col-12-xsmall">
                    <input type="submit" value="Найти" class="primary fit">
                  </div>
                </div>
              </form>
              {% endif %}
              {% block content %}{% endblock %}
          </div>
        </div>
        <div id="sidebar">
          <div class="inner">
              <section id="search" class="alt">
                <form method="get" action="/">
                  <input type="text" name="q" value="{{search_query}}"/>
                </form>
              </section>
              <nav id="menu">
                <header class="major">
                  <h2>Меню</h2>
                </header>
                <ul>
                  <li><a href="/"{% if search_type == "all" %} class="active"{% endif %}>Главная</a></li>
                  <li><a href="/by_authors/"{% if search_type == "authors" %} class="active"{% endif %}>Поиск по авторам</a></li>
                  <li><a href="/by_series/"{% if search_type == "sequences" %} class="active"{% endif %}>Поиск по книжным сериям</a></li>
                </ul>
              </nav>
          </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/script.js"></script>
	</body>
</html>