{% extends "layout.html" %}

{% block content %}
<div class="search-result">
    <form method="get">
        <br>
        <div class="row">
            {% if cur_tag || search_query %}
            <div class="col-8 col-12-xsmall">
                <input type="text" name="q" placeholder="ISBN, год, автор, название, серия, жанр, издательство..." value="{{search_query}}">
            </div>
            <div class="col-2 col-6-xsmall"><input type="submit" value="Найти" class="primary fit"></div>
            <div class="col-2 col-6-xsmall"><a class="button fit" href="/books/">Сбросить</a></div>
            {% else %}
            <div class="col-10 col-12-xsmall">
                <input type="text" name="q" placeholder="ISBN, год, автор, название, серия, жанр, издательство..." value="{{search_query}}">
            </div>
            <div class="col-2 col-12-xsmall"><input type="submit" value="Найти" class="primary fit"></div>
            {% endif %}
        </div>
    </form>

    {% include "blocks/books-detailed.html" with books=books cur_tag=cur_tag pager=pager %}

    {% include "blocks/pagination.html" with pager=pager %}
</div>
{% endblock %}
