{% extends "layout.html" %}

{% block content %}

{% macro bookTag(title, values, tag_name) %}
    {% if values|trimspace %}
    <div class="col-12-xsmall">
        <span class="button" style="box-shadow: none;padding: 0;color: black !important;">{{title}}:</span>
        {% for value in values|split:"; " %}
            {% if tag_name %} 
            <a class="button" href="/books/{{tag_name}}/{{value|striptags|split:"("|first|urlencode}}/">{{value}}</a>
            {% else %}
            <a class="button">{{value}}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

<div class="row book-details book-controls">
    <div class="col-12">
        <a href="/download/{{book.Index.ID}}.fb2" class="button primary"><span class="fa fa-download"></span>&nbsp;.fb2 ({{book.Size|filesize}})</a>
        <a href="/download/{{book.Index.ID}}.epub" class="button primary"><span class="fa fa-download"></span>&nbsp;.epub</a>
        <a class="button" title="Коллекция" href="/books/lib/{{book.Index.Lib}}/">{{book.Index.Lib}}</a>
        <a href="/book/{{book.Index.ID}}/remove" class="button primary"><span class="fa fa-trash"></span></a>
    </div>
</div>

{% if book.Details.Annotation || book.Details.Images %}
<br>
<div class="row book-details description">
    <div class="col-12">
        {% for img in book.Details.Images %}<img src="data:{{img.Type}};base64,{{img.Data}}"/>{% endfor %}
        {{book.Details.Annotation|safe}}
    </div>
</div>
{% endif %}

<br>
<div class="row book-details book-tags">
    {{ bookTag("ISBN", book.Index.ISBN, "isbn") }}
    {{ bookTag("Названия", book.Index.Title, "title") }}
    {{ bookTag("Авторы", book.Index.Author, "author") }}
    {{ bookTag("Переводчики", book.Index.Translator, "transl") }}
    {{ bookTag("Серии", book.Index.Serie, "serie") }}
    {{ bookTag("Даты", book.Index.Date, "date") }}
    {{ bookTag("Жанры", book.Index.Genre, "genre") }}
    {{ bookTag("Издатели", book.Index.Publisher, "publ") }}
    {{ bookTag("Язык", book.Index.Lang, "lang") }}
</div>

{% include "blocks/books-simple.html" with books=other_series_books columns_cnt=3 block_title="Другие книги серии" %}
{% include "blocks/series-simple.html" with series=other_series block_title="Другие серии автора" %}
{% include "blocks/books-simple.html" with books=other_books columns_cnt=3 block_title="Другие книги автора" %}

{% endblock %}
