{% extends "layout.html" %}

{% block content %}
{% macro bookFeature(title, values, searchHref=false) %}
    {% if values|trimspace %}
        {% for value in values|split:"; " %}
        <a class="button"{% if searchHref %} href="?q={{value|split:"("|first|safe|striptags|urlencode}}"{% endif %} title="{{title}}">{{value|safe}}</a>
        {% endfor %}
    {% endif %}
{% endmacro %}

<div class="search-result">

    <form method="get">
        <br>
        <div class="row">
            <div class="col-10 col-12-xsmall">
                <input type="text" name="q" placeholder="ISBN, год, автор, название, серия, жанр, издательство..." value="{{search_query}}">
            </div>
            <div class="col-2 col-12-xsmall"><input type="submit" value="Найти" class="primary fit"></div>
        </div>
        
        {% if libs %}
        <br>
        <div class="row">
            <div class="col-12">
                {% if cur_lib %}<a class="button" href="/">Все</a>{% endif %}
                {% for lib in libs %}<a class="button {% if lib == cur_lib %}primary{% endif %}" href="/lib/{{lib}}">{{lib}}</a>{% endfor %}
            </div>
        </div>
        {% endif %}
    </form>

    <div class="row search-hed">
        {% if pager.GetTotal() > 0 %}
        <div class="col-10 col-8-xsmall title">
            {% if pager.HasNext() %}
            <h4>Книги {{pager.GetOffset()+1}}-{{pager.GetOffset()+pager.GetPageSize()}} из {{pager.GetTotal()}}</h4>
            {% else %}
            <h4>Книги {{pager.GetOffset()+1}}-{{pager.GetTotal()}} из {{pager.GetTotal()}}</h4>
            {% endif %}
        </div>
        <div class="col-2 col-4-xsmall size">
            <select id="demo-category" onchange="if (this.value) window.location.href=this.value">
                {% for size in limits_books|split:"," %}
                <option value="{{pager.GetLink(1,size|integer)}}"{% if pager.GetPageSize() == size|integer %} selected{%endif%}>{{size}}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
        <div class="col-12"><h4>Ничего не нашлось</h4></div>
        {% endif %}
    </div>
    
    <div class="row search-items">
        {% for book in books %}
        <div class="col-6 col-12-xsmall item">
            {% if book.Details.Images %}
            {% for img in book.Details.Images %}<a href="/book/{{book.Index.ID}}"><img src="data:{{img.Type}};base64,{{img.Data}}"/></a>{% endfor %}
            {% else %}
            <a href="/book/{{book.Index.ID}}"><img src="/assets/images/noimg.png"/></a>
            {% endif %}

            <h4 class="col-12-xsmall"><a href="/book/{{book.Index.ID}}">{{pager.GetOffset()+forloop.Counter}}. {{book.Index.Title|safe}}</a></h4>

            <a href="/download/{{book.Index.ID}}.fb2" class="button primary"><span class="fa fa-download"></span>&nbsp;.fb2 ({{book.Size|filesize}})</a>
            <a href="/download/{{book.Index.ID}}.epub" class="button primary"><span class="fa fa-download"></span>&nbsp;.epub</a>
            {{ bookFeature("Коллекция", book.Index.Lib, true) }}
            {{ bookFeature("ISBN", book.Index.ISBN, true) }}
            {{ bookFeature("Дата", book.Index.Date, true) }}
            {{ bookFeature("Язык", book.Index.Lang, true) }}
            {{ bookFeature("Жанр", book.Index.Genre, true) }}
            {{ bookFeature("Автор", book.Index.Author, true) }}
            {{ bookFeature("Издательство", book.Index.Publisher, true) }}
            {{ bookFeature("Серия", book.Index.Serie, true) }}
        </div>
        {% endfor %}
    </div>

    {% if pager && pager.HasPages() %}
    <br>
    <ul class="pagination">
        {%if pager.HasPrev() %}
        <li>
            <a href="{{pager.GetLinkFirst()}}" class="button">Начало</a>
            <a href="{{pager.GetLinkPrev()}}" class="button">Назад</a>
        </li>
        {% else %}
        <li>
            <span class="button disabled">Начало</span>
            <span class="button disabled">Назад</span>
        </li>
        {% endif %}
        {% for page in pager.GetPages()%}
            {%if pager.IsCurPage(page) %}
            <li><span class="page active">{{page}}</span></li>
            {% else %}
            <li><a href="{{pager.GetLink(page,0)}}" class="page">{{page}}</a></li>
            {% endif %}
        {% endfor %}    
        {%if pager.HasNext() %}
        <li>
            <a href="{{pager.GetLinkNext()}}" class="button">Вперед</a>
            <a href="{{pager.GetLinkLast()}}" class="button">Конец</a>
        </li>
        {% else %}
        <li>
            <span class="button disabled">Вперед</span>
            <span class="button disabled">Конец</span>
        </li>
        {% endif %}
    </ul>
    {%endif%}
</div>
{% endblock %}
