{% extends "layout.html" %}

{% block meta_title %}{{recipe.Name}}{% endblock %}

{% block content %}
<section id="main" style="padding: 50px 0;">
    <div class="container">
        <ul class="list-group search-result">
            {% for item in books %}
            <li class="list-group-item">
                <div><h4><a href="?q={{item.Titles|safe|striptags}}">{{pager.Offset+forloop.Counter}}. {{item.Titles|safe}}</a></h4></div>
                <div>
                    {% if item.ISBN %}<a class="book-attr" href="?q={{item.ISBN|safe|striptags}}">ISBN: {{item.ISBN|safe}}</a>{% endif %}
                    {% if item.Authors %}<a class="book-attr" href="?q={{item.Authors|safe|striptags}}">Авторы: {{item.Authors|safe}}</a>{% endif %}
                    {% if item.Sequences %}<a class="book-attr" href="?q={{item.Sequences|safe|striptags}}">Серия: {{item.Sequences|safe}}</a>{% endif %}
                    {% if item.Date %}<a class="book-attr" href="?q={{item.Date|safe|striptags}}">Дата: {{item.Date}}</a>{% endif %}
                    {% if item.Publisher %}<a class="book-attr" href="?q={{item.Publisher|safe|striptags}}">Издатель: {{item.Publisher|safe}}</a>{% endif %}
                    <a href="/download/{{item.ID}}/fb2" class="book-attr icon solid fa-download">.fb2</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if pager && pager.HasPages() %}
        <br><br>
        <div style="text-align: center;">
            {%if pager.HasPrev() %}
            <a class="book-attr" href="{{pager.PageLinkFirst()}}">Первая</a>
            {% endif %}
            
            {% for page in pager.Pages%}
                {%if pager.IsActive(page) %}
                <span class="book-attr">{{page}}</span>
                {% else %}
                <a class="book-attr" href="{{pager.PageLink(page)}}">{{page}}</a>
                {% endif %}
            {% endfor %}

            {%if pager.HasNext() %}
            <a class="book-attr" href="{{pager.PageLinkLast()}}">Последняя</a>
            {% endif %}
        </div>
        {%endif%}
    </div>
</section>
{% endblock %}
